{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3><i class="fa fa-comment"></i> Soy <strong>{{ .Site.Params.author }}</strong>, analista de datos y alguna cosa más.</h3>
        <h3></i><i class="fa fa-heart"></i> Me encanta descubrir lo que hay debajo de unos buenos datos...</h3>
        <h3><i class="fa fa-text-height"></i> Desde el 2003 publicando en <a href="http://www.k-government.com" target="blank">K-Government</a></h3>
        <h3><i class="fa fa-user"></i> Soy parte del equipo de <a href="http://www.ideograma.org" target="blank"><b>ideo</b>grama</a> dónde coordino <a href="http://www.apps4citizens.org" target="blank">apps4citizens</a>.</h3>
        <h3><i class="fa fa-github"></i> Alguno de los proyectos en los que estoy <a href="{{ .Site.BaseURL }}projects/"> trabajando</a>.</h3>
        <h3><i class="fa fa-info-sign"></i> Para más info académica &amp; profesional en mi <a href="https://linkedin.com/in/carlosguadian" target="blank">CV</a>.</h3>
        <h3><i class="fa fa-comments"></i> Puedes contactarme en <i class="fa fa-twitter"></i> <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}" target="blank">@{{ .Site.Params.Social.Twitter }}</a> o vía <i class="fa fa-envelope"></i> <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
